trigger: none
pr: none

parameters:
  - name: blobName
    type: string
    default: ''
  - name: signedBlobName
    type: string
    default: ''

variables:
  - group: signing-secrets

pool:
  vmImage: windows-latest

steps:
  - task: PowerShell@2
    displayName: Download unsigned binary from blob
    inputs:
      targetType: inline
      script: |
        az storage blob download `
          --connection-string "$(AZURE_STORAGE_CONNECTION_STRING)" `
          --container-name signing-stage `
          --name "${{ parameters.blobName }}" `
          --file "$(Build.StagingDirectory)\unsigned.exe"

  - task: ArtifactSigning@1
    displayName: Sign with Artifact Signing
    inputs:
      AzureTenantID: $(AzureTenantID)
      AzureClientID: $(AzureClientID)
      AzureClientSecret: $(AzureClientSecret)
      Endpoint: https://eus.codesigning.azure.net
      ArtifactSigningAccountName: $(TrustedSigningAccountName)
      CertificateProfileName: Operator
      FilesFolder: $(Build.StagingDirectory)
      FilesFolderFilter: exe
      FileDigest: SHA256
      TimestampRfc3161: http://timestamp.acs.microsoft.com
      TimestampDigest: SHA256

  - task: PowerShell@2
    displayName: Upload signed binary to blob
    inputs:
      targetType: inline
      script: |
        az storage blob upload `
          --connection-string "$(AZURE_STORAGE_CONNECTION_STRING)" `
          --container-name signing-stage `
          --name "${{ parameters.signedBlobName }}" `
          --file "$(Build.StagingDirectory)\unsigned.exe" `
          --overwrite

  - task: PowerShell@2
    displayName: Verify Authenticode signature
    inputs:
      targetType: inline
      script: |
        $sig = Get-AuthenticodeSignature "$(Build.StagingDirectory)\unsigned.exe"
        Write-Host "Signature status: $($sig.Status)"
        Write-Host "Signer: $($sig.SignerCertificate.Subject)"
        Write-Host "Timestamp: $($sig.TimeStamperCertificate.Subject)"
        if ($sig.Status -ne 'Valid') {
          Write-Error "Authenticode signature is not valid: $($sig.Status)"
          exit 1
        }
